.container {
    margin-top: 200px;
  
}
/*body {
    background-image: url(../Views/Image/R-C.jpg);
    background-repeat: no-repeat;*/ /* 防止图片重复平铺 */
    /*background-position: center;*/ /* 让图片居中 */
    /*background-size: cover;*/ /* 图片自适应填充整个背景区域，可能会裁剪图片以适应 */
    /*opacity: 0.95;*/ /* 设置背景图片透明度为95% */
/*}*/

.row {
}

.mianban {
    background-color: white;
    width: 100%;
    box-shadow: 8px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

    .mianban span:nth-child(1) {
        font-size: 20px;
        font-weight: 900;
        display: block;
        /* background-color: saddlebrown; */
        text-align: center;
        margin-bottom: 50px;
        font-family: '宋体';
    }

.two {
    font-size: 13px;
    display: block;
    /* background-color: saddlebrown; */
    text-align: left;
    font-family: '宋体';
    font-weight: 600;
    padding-left: 10.5%;
  
}
.form-control {
    border-radius: 0;
    width: 80%;
    margin-left: 10%;
    border: none !important;
    padding-left: 8%; /* 留出图标的空间 */
    position: relative;
    display: inline-block;
}

.le {
    margin-bottom: 33px;
}

.text-right {
    margin-right: 36px;
    margin-bottom: 40px;
}

a:hover {
    text-decoration: none;
}

.login {
    padding-left: 12%;
    width: 100%;
    padding-right: 10%;
}

    .login #LoginButton {
        border-radius: 0;
        width: 100%;
        margin-bottom: 10px;
    }

.glyphicon {
    font-size: 20px;
    position: absolute;
    top: 29%;
    transform: translateY(-50%);
    left: 12%;
    color: rgba(0,0,0,0.3);
    z-index: 1;
}

a:active {
    color: red;
    text-decoration: none;
}

.form-group {
    margin-bottom: 28px;
}