.form-group {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}

    .form-group label {
        margin-right: 10px;
    }


.daobo {
    background-color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr)); /* 自动换行并设定每列最小宽度 */
    grid-auto-rows: 46px;
    grid-gap: 10px; /* 子元素之间的间距 */
    padding-bottom: 20px;
    padding-top: 20px;
}

.xuanxiang {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr)); /* 自动换行并设定每列最小宽度 */
    grid-auto-rows: 66px;
    grid-gap: 30px; /* 子元素之间的间距 */
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.xuanxiang2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

    .xuanxiang2:hover {
        background-color: sandybrown; /* 将yourDesiredColor替换为你想要的颜色 */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

.anniu {
    /*      background-color: dimgrey;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*   color: white;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.daobo .anniu:last-child {
    margin-right: 0;
}

.anniu:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: mistyrose;
    color: black;
}

i {
    color: red;
}

.jiage {
    font-size: 20px;
    color: red;
    font-weight: 800;
}

.form-control {
    width: 50% !important;
}

.custom-textbox:focus {
    outline: none; /* 取消点击聚焦时的轮廓 */
    box-shadow: none; /* 取消点击聚焦时的阴影效果（对于一些浏览器，比如Firefox） */
}

.form-control {
    border: 0px solid black !important;
}

.yvyue {
    width: 205px;
    height: 44px;
    background-color: rgba(7, 146, 77, 0.7);
    margin-left: 60px;
    border: 0;
}

    .yvyue:hover {
        background-color: rgba(7, 146, 77, 0.9);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .yvyue .btn {
    }

.mowei {
    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding-bottom: 30px;
}

.ziti {
    color: gray;
    font-size: 12px;
}

.xinxi {
    width: 500px;
    height: 50px;
    line-height: 50px;
    position: relative; /* 新增：为父容器添加相对定位 */
}

.btn {
    width: 60%;
}

.custom-modal-position {
    position: fixed;
    top: 43% !important;
    left: 20% !important;
}

.anniu a i {
    font-size: 18px;
    color: palevioletred;
}

a {
    color: black;
}

    a:hover {
        color: red;
    }
